<ion-view>
    <ion-content>
        <ion-list>
            <ion-item class="item item-button-right" ng-repeat="pessoa in pessoas">{{pessoa.nome}}
                <button class="button button-negative" ng-click="remover($index)"><i class="icon icon ion-android-delete"></i></button>
            </ion-item>
        </ion-list>
        <div class="row">
            <button class="button button-block button-positive" ui-sref="cadastro">Voltar</button>
        </div>    
    </ion-content>
</ion-view>